.profile-photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.user-details,
.profile-image-name-designation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-name-designation {
  margin-left: 30px;
  width: 250px;
}
.profile-name {
  margin-bottom: 8px;
  font-size: 33px;
  color: #3e3f42;
}
.profile-designation {
  font-size: 18px;
  color: #a9a9a9;
}
.edit-btn {
  width: 130px;
  height: 50px;
  border-radius: 25px;
  background-color: #1d1d1d;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.save-btn {
  width: 130px;
  height: 50px;
  margin: 10px;
  border-radius: 25px;
  background-color: #1d1d1d;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.cancel-btn {
  width: 130px;
  height: 50px;
  margin: 10px;
  border-radius: 25px;
  color: #1d1d1d;
  background-color: white;
  border: 1px solid #1d1d1d;
  outline: none;
  cursor: pointer;
}
.save-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-number {
  font-size: 15px;
  color: #1d1d1d;
  margin-top: 15px;
  margin-left: 10px;
}
.profile-emailid {
  margin: 0;
  padding-top: 5px;
  font-size: 15px;
  color: #1d1d1d;
  margin-left: 10px;
}
.id-dob-dept {
  font-size: 16px;
  color: #3e3f42;
  margin-top: 10px;
}
.profile-skills-header {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.47;
  color: #a9a9a9;
  margin-bottom: 15px;
}
