#google-connect {
  border-color: black;
  color: rgb(255, 255, 255);
  background: black
    url("https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png")
    no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
}
.landing-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.directory-container {
  width: 505px;
  height: 529px;
  border-radius: 4px;
  box-shadow: 21px 22px 24px 0 rgba(0, 0, 0, 0.15);
  background-color: #1d1d1d;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.signin-btn {
  margin-top: 60px;
  width: 185px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}
.yml-square-logo {
  width: 56px;
  height: 56px;
  object-fit: contain;
  margin-top: 155px;
}
.YML-directory {
  margin: 20px auto;
  width: 176px;
  height: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
