.msg-form {
  position: fixed;
  bottom: 0;
  left: 23%;
  right: 20%;
  height: 50px;
  background-color: #fafafa;
  color: white;
}
.message-field {
  width: 40%;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  color: #595959;
  transform: translate(-5%, -25%);
}
.text-message-input-field {
  float: right;
  border: 1px solid #595959;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  box-shadow: 15px 15px 15px 15px rgba(22, 0, 213, 0.06);
}
.send-btn {
  position: absolute;
  display: inline-block;
  right: 20px;
  top: 50%;
  transform: translate(-5%, -50%);
  background: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
}

.send-btn:hover {
  background-color: white;
  color: black;
}

.emoji-toggle-icon {
  margin: 0 3% 0 2%;
  color: #595959;
  font-size: 25px;
  line-height: 60px;
  outline: none;
  cursor: pointer;
}
