.home-body {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}
.user-cards-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 30px;
  /* animation-name: moveInRight;
  animation-duration: 5s; */
}
.user-designation {
  color: #3e3f42;
  font-size: 14px;
  margin-top: 10px;
}
.user-card-container {
  margin: 15px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 8px 8px 15px 0 rgba(22, 0, 213, 0.06);
  background-color: #ffffff;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}
.YML-Employee-list {
  height: 31px;
  font-size: 24px;
  font-weight: bold;
  color: #1d1d1d;
}
.image-and-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-and-name img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.user-name {
  width: 200px;
  font-size: 18px;
  color: #3e3f42;
  margin: 0;
}
.cards {
  text-decoration: none;
  box-sizing: border-box;
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
