.chat-btn-container {
  line-height: 40px;
  height: 40px;
  width: 200px;
  position: fixed;
  bottom: 0;
  right: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 8px 8px 15px 0 rgba(30, 30, 31, 0.3);
  background-color: #ffffff;
  box-sizing: border-box;
}
.dot {
  height: 12px;
  width: 12px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
.chat-layout{
  
}