.profile-sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  box-shadow: 8px 8px 15px 15px rgba(22, 0, 213, 0.06);
  background-color: #fafafa;
  color: black;
  text-align: center;
}
.sidebar-profile-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 15px 15px 15px 15px rgba(22, 0, 213, 0.06);
}
.sidebar-profile-image-container {
  margin: 90px 20px 40px 20px;
}
.sidebar-profile-name {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sidebar-profile-email {
  font-size: 14px;
  margin-bottom: 30px;
}
.profile-sidebar-logout {
  position: absolute;
  display: inline-block;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(22, 0, 213, 0.06);
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 48px;
  color: #1d1d1d;
  box-shadow: 8px 8px 15px 15px rgba(22, 0, 213, 0.06);
}
