.list-items {
  height: 40px;
  width: 40px;
  cursor: pointer;
  list-style: none;
  float: left;
  text-align: center;
  line-height: 40px;
}
.visible {
  height: 40px;
  width: 80px;
  cursor: pointer;
  list-style: none;
  float: left;
  text-align: center;
  line-height: 40px;
}
.pagination {
  padding: 0;
  display: table;
  margin: 0 auto;
}
.list-items:hover {
  border: 1px solid black;
  color: white;
  background: black;
}
.list-items a {
  outline: none;
}
.visible a {
  outline: none;
}
.pagination-container {
  width: 100%;
  background-color: #fafafa;
}
