.search-result {
  position: absolute;
  left: 70px;
  top: 85px;
  margin: 0 auto;
  overflow-y: scroll;
  width: 300px;
  max-height: 350px;
  border-radius: 8px;
  box-shadow: 8px 8px 15px 0 rgba(22, 0, 213, 0.06);
  background-color: white;
}
.seach-result-user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.seach-result-user-card:nth-child(even) {
  background-color: #d9d9d9;
}

.search-user-name {
  font-size: 15px;
  cursor: pointer;
}
.search-profile-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.searchbar-input {
  display: block;
  width: 70%;
  outline: none;
  border: none;
  height: 30px;
  padding: 8px;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 8px 8px 15px 0 rgba(22, 0, 213, 0.06);
}

.search-input {
  margin: 10px auto;
  padding: 5px;
}

.custom-search-bar {
  margin-left: 0px;
}
