.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 23%;
  height: 100%;
  box-shadow: 8px 8px 15px 0 rgba(22, 0, 213, 0.06);
  background-color: #fafafa;
  color: black;
  box-sizing: border-box;
}

.dashboard-icon {
  position: absolute;
  display: inline-block;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.user-list {
  padding: 0;
}
.sidebar-yml-logo {
  display: block;
  margin: 40px auto;
  height: 50px;
  width: 40%;
}
.name-list {
  display: block;
  text-decoration: none;
  list-style-type: none;
  line-height: 27px;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 16px;
  background-color: black;
  color: black;
  margin: 5px auto;
}

.link-elem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 70px;
  margin: 0 auto;
  text-decoration: none;
  margin-bottom: 15px;
  color: black;
  padding-left: 10px;
  background-color: #ffffff;
  box-shadow: 8px 8px 15px 0 rgba(22, 0, 213, 0.06);
  border-radius: 10px;
}
.link-elem div {
  display: inline;
}
.sidebar-user-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.sidebar-user-profile-name {
  margin-left: 15px;
}
.groups-text {
  width: 90%;
  height: 30px;
  display: block;
  margin: 0 auto;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
}
/* .link-elem:hover {
  background-color: #595959;
  color: black;
} */

.active-link {
  text-decoration: none;
  display: block;
  color: black;
  background-color: white;
}

.user-icon {
  padding-right: 5px;
}

.create-group-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 120px;
  height: 35px;
  color: black;
  outline: none;
  border: none;
  background-color: #595959;
  cursor: pointer;
  border-radius: 15px 15px;
  transition: all 0.3s;
}

.create-group-btn:hover {
  background-color: white;
  color: black;
}

.create-group-icon {
  font-size: 20px;
  padding: 2px;
}

.group-header {
  text-align: center;
}

.user-add-icon {
  padding-right: 5px;
  font-size: 20px;
}

.navlink-element {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.nav-active-link {
  color: #087ffe;
}

.broadcast-icon,
.group-create-icon {
  padding: 10px;
  margin: 10px;
  color: black;
  cursor: pointer;
  outline: none;
}

.broadcast-icon:hover,
.group-create-icon:hover {
  color: black;
}

.header-break {
  width: 75%;
  display: block;
  margin: 5px auto;
  color: black;
  border: 1.5px solid #595959;
}
