.message-window {
  width: calc(100% - 43%);
  height: 90%;
  position: absolute;
  left: 23%;
  bottom: 10%;
  /* background-color: gray; */
}

.chat-list {
  /* background-color: #f5f5f5; */
  /* height: 50px; */
  height: 90%;
  overflow-y: scroll;
}
.message-window::-webkit-scrollbar {
  width: 1em;
}

.message-window::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.message-window::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.dashboard-header {
  position: fixed;
  top: 0;
  width: 80%;
  padding-left: 15px;
  height: 80px;
  text-transform: capitalize;
  color: white;
  background: #8c8c8c;
  text-align: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 80px;
}
